.App {
  text-align: center;
  position: relative;
}

.header{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  border-top: 1px solid rgba(97, 56, 245, 0.4);
  display: flex;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  color: white;
  display: flex;
  .tabItem{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
  }
  .settingIcon{
    font-size: 25px;
    color: black;
    margin-left: 50px;
  }
  p{
    margin: 0;
  }
  .vr{
    width: 2px;
    background-color: lightgray;
    height: 100%;
  }
  .active{
    background-color: rgba(97, 56, 245, 0.6);
    padding: 5px;
    border-radius: 5px;
  }
  a{
    color: black;
    text-decoration: none;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.ldscontainer{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-direction: column;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #6138f5;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
.noBg{
  background-color: rgba(0,0,0,0);
  height: auto;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.signComponents{
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainBorder{
  width: 95%;
  color: black;
  border-radius: 15px;
  margin: auto;
  h1{
    margin: 20px 0;
    color: #6138f5;
  }
  input{
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #6138f5;
    width: 80%;
    text-align: center;
    font-size: 20px;
    border-radius: 0;
    &:focus{
      outline: none;
    }
  }
  hr{
    width: 90%;
    margin-bottom: 15px;
  }
  .createAccount{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: pointer;
    .rightArrow{
      color: #6138f5;
      font-size: 25px;
      margin-left: 25px;
    }
    a{
      text-align: start;
      font-size: 20px;
      text-decoration: none;
      color: black;
    }
  }
  #togglePassword{
    cursor: pointer;
    margin-left: -31.25px;
    margin-top: -10px;
    font-size: 25px;
    z-index: 1;
  }
  .signButton{
    margin-bottom: 20px;
    margin-top: 20px;
    border: 2px solid #6138f5;
    background-color: #6138f5;
    font-weight: bold;
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    text-shadow: 2px 2px 2px black;
  }
}

.toMessages{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid lightgray;
  margin-top: 5px;
  a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    i{
      margin-right: 10px;
      font-size: 25px;
    }
    &:hover{
      background-color: #6138f5;
    }
    .unreadBadge{
      color: black;
      background-color: red;
      width: 16px;
      height: 16px;
      font-size: 13px;
      font-weight: bold;
      border-radius: 100%;
      position: absolute;
      top: 5px;
      left: 5px;
    }
    .noBadge{
      display: none;
    }
  }
}