.savingsFormContainer{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    .savingsFormSection{
        background-color: white;
        padding: 10px;
        margin: auto;
    }
}