@import './Mixin.scss';

.debtContainer{
    width: 98vw;
    margin: auto;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-radius: 15px;
    .top{
        width: 90vw;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .addDebtButton{
            height: 40px;
            background-color: rgba(0,0,0,0.2);
            border-radius: 40px;
            cursor: pointer;
            transition: 0.4s linear;
            &:hover{
                height: 50px;
                border-radius: 50px;
                background-color: rgba(0,0,0,0.6);
            }
        }
        h2{
            text-decoration: underline;
            cursor: pointer;
            &:hover{
                color: teal;
            }
        }
    }
    .debts{
        width: 95vw;
        margin: auto;
        border-radius: 30px;
        box-shadow: 0px 0px 20px teal inset;
        padding: 5px;
        .debtsInformation{
            display: flex;
            justify-content: space-around;
            align-items: center;
            .editButton{
                height: 40px;
                cursor: pointer;
            }
            .paymentButton{
                margin-right: 30px;
                cursor: pointer;
                text-decoration: underline;
                &:hover{
                    color: teal;
                }
            }
            @include mQ(775px){
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                margin-bottom: 10px;
                .editButton{
                    grid-area: 2 / 4;
                    justify-self: center;
                }
                .paymentButton{
                    margin: 0;
                    padding: 0;
                    justify-self: center;
                }
            }
        }
        .progress{
            display: grid;
            width: 90vw;
            margin: auto;
            grid-template-columns: auto;
            grid-template-rows: auto;
            .colorBar{
                grid-area: 1 / 1 / 1 / 1;
            }
            img{
                width: 100%;
                grid-area: 1 / 1 / 1 / 1;
                border: 1px solid black;
            }
        }
    }
}