.debtContainer{
    .top{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
        .addDebtButton{
            height: 40px;
            margin-left: 40px;
            background-color: rgba(0,0,0,0.2);
            border-radius: 40px;
            cursor: pointer;
            transition: 0.4s linear;
            &:hover{
                height: 50px;
                border-radius: 50px;
                background-color: rgba(0,0,0,0.6);
            }
        }
    }
    .debts{
        .debtsInformation{
            display: flex;
            justify-content: space-around;
        }
        .progress{
            display: grid;
            width: 90vw;
            height: 0.75in;
            margin: auto;
            grid-template-columns: auto;
            grid-template-rows: auto;
            .colorBar{
                grid-area: 1 / 1 / 1 / 1;
                height: 50px;
            }
            img{
                height: 50px;
                width: 100%;
                grid-area: 1 / 1 / 1 / 1;
            }
        }
    }
}