@import './Mixin.scss';

.debtContainer{
    .top{
        width: 90vw;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .addDebtButton{
            height: 40px;
            background-color: rgba(0,0,0,0.2);
            border-radius: 40px;
            cursor: pointer;
            transition: 0.4s linear;
            &:hover{
                height: 50px;
                border-radius: 50px;
                background-color: rgba(0,0,0,0.6);
            }
        }
        h2{
            text-decoration: underline;
            cursor: pointer;
            &:hover{
                color: teal;
            }
        }
    }
    .debts{
        border-bottom: 1px solid black;
        .debtsInformation{
            display: flex;
            justify-content: space-around;
            align-items: center;
            img{
                height: 40px;
                cursor: pointer;
            }
        }
        .progress{
            display: grid;
            width: 90vw;
            margin: auto;
            grid-template-columns: auto;
            grid-template-rows: auto;
            .colorBar{
                grid-area: 1 / 1 / 1 / 1;
            }
            img{
                width: 100%;
                grid-area: 1 / 1 / 1 / 1;
                border: 1px solid black;
            }
        }
    }
}