.complete{
    background-color: limegreen;
}

.notCompleted{
    background-color: red;
}

.partial{
    background-color: orange;
}

li{
    margin-bottom: 5px;
    font-weight: bold;
}

.savingContainer{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    .information{
        width: 80vw;
        height: auto;
        padding: 20px;
        border-radius: 15px;
        background-color: white;
        overflow: auto;
    }
    .close{
        font-size: 25px;
        width: 50vw;
        background-color: teal;
        margin: auto;
        cursor: pointer;
        text-decoration: underline;
    }
}